body{
    color: lightgrey;
    background-color: #161517;

    font-family: "Lucida Sans", sans-serif;
}

#header{
    background-color: #301f57;
    padding:25px;
}

#pageContainer{
    display: flex;
}

#menu{
    background-color: #464154;
    padding-left: 5px;
    padding-right: 20px;
    margin-right: 30px;
}

a{
    color: lightgrey;
}

#characterList{
    display: flex;
    flex-wrap: wrap;
}

#npcList{
    display: flex;
}

.character-panel{
    margin-right: 20px;
    margin-bottom: 20px;
}

.character-image{
    border: white solid;

    height: 200px;
    width: 200px;
}

#brighton{
    background-image: url("Characters/BrightonPhoto.png");
}

#drakkon{
    background-image: url("Characters/DrakonPhoto.jpg");
    background-size: cover;
}

#hoarfrost{
    background-image: url("Characters/HoarfrostPhoto.jpeg");
    background-size: cover;
    background-position: center;
}

#leandra{
    background-image: url("Characters/LeandraPhoto.jpg");
    background-size: cover;
}

#norwick{
    background-image: url("Characters/NorwickPhoto.jpg");
    background-size: cover;
}

#selakiir{
    background-image: url("Characters/SelakiirPhoto.jpg");
    background-size: cover;
}

#titus{
    background-image: url("Characters/TankPhoto.jpg");
    background-size: cover;
    background-position: center;
}

#droop{
    background-image: url("Characters/DroopPhoto.jpg");
    background-size: cover;
}

#dyranielle{
    background-image: url("Characters/DyraniellePhoto.gif");
    background-size: cover;
}

#pallabar{
    background-image: url("Characters/PallabarPhoto.jpg");
    background-size: cover;
    background-position: center;
}

#peren{
    background-image: url("Characters/PerenPhoto.jpg");
    background-size: cover;
    background-position: center;
}